@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

$color-dark-medium: #2F2F30;
$color-dark: #000;
$color-new-dark: #191919;
$color-grey: #ddd;
$color-light: #fff;

@mixin displayFlex($jC, $aI, $fL: row) {
    display: flex;
    justify-content: $jC;
    align-items: $aI;
    flex-direction: $fL;
}

body {
    background-color: $color-dark;
    color: $color-light;
    font-family: 'Roboto', sans-serif, arial;
    margin: 0;
    padding: 0;

    a {
        color: $color-light;
        text-decoration: none;
    }

    ul {
        list-style: none;
    }

    .container {
        max-width: 1280px;
        width: 80vw;
        margin: auto;

    }

    p {
        font-size: 1.2rem;
    }
}

header {
    width: 100%;
    width: 100%;
    height: 5rem;
    background-color: $color-dark-medium;
    @include displayFlex(center, center);

    .container {
        @include displayFlex(space-between, center);

        .header-left {
            width: 50%;

            img {
                width: 4rem;
            }
        }

        .header-right {
            width: 50%;
            @include displayFlex(flex-end, center);

            ul {
                display: flex;

                li {
                    margin: 0 1rem 0 1rem;

                    a {
                        font-size: 16px;

                        &:hover {
                            border-bottom: #fff 1px solid;
                        }
                    }
                }
            }
        }
    }

}

#home {
    width: 100%;
    margin: 2rem 0 5rem 0;

    .container {
        @include displayFlex(center, center);

        .home-description {
            width: 65%;
            margin: 4rem;

            h1 {
                font-size: 3.6rem;
                @include displayFlex(center, center);
            }

            p {
                color: $color-grey;
                line-height: 1.6rem;

                a {
                    text-decoration: underline;
                    font-size: 1.4rem;
                }
            }
        }
    }
}

.sections {
    width: 100%;
    border-top: 2px $color-dark-medium solid;

    p {
        color: $color-grey;
        margin-top: 2rem;
    }

    .container {
        padding-bottom: 5rem;

        .title {

            h1 {
                font-size: 2.5rem;
                padding: 2rem 0 1rem 0;
                border-bottom: 1px $color-light solid;
            }

            @include displayFlex(center, center)
        }

        .content {
            width: 80%;
            margin: auto;

            .description {
                .image {
                    @include displayFlex(center, center);

                    img {
                        margin: 1rem 0 1rem 0;
                        width: 65%;
                    }
                }

                .construction {
                    padding-top: 5rem;
                    img {
                        width: 40%;
                    }
                }
            }
        }
    }
}