@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
body {
  background-color: #000;
  color: #fff;
  font-family: "Roboto", sans-serif, arial;
  margin: 0;
  padding: 0;
}
body a {
  color: #fff;
  text-decoration: none;
}
body ul {
  list-style: none;
}
body .container {
  max-width: 1280px;
  width: 80vw;
  margin: auto;
}
body p {
  font-size: 1.2rem;
}

header {
  width: 100%;
  width: 100%;
  height: 5rem;
  background-color: #2F2F30;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
header .container .header-left {
  width: 50%;
}
header .container .header-left img {
  width: 4rem;
}
header .container .header-right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}
header .container .header-right ul {
  display: flex;
}
header .container .header-right ul li {
  margin: 0 1rem 0 1rem;
}
header .container .header-right ul li a {
  font-size: 16px;
}
header .container .header-right ul li a:hover {
  border-bottom: #fff 1px solid;
}

#home {
  width: 100%;
  margin: 2rem 0 5rem 0;
}
#home .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#home .container .home-description {
  width: 65%;
  margin: 4rem;
}
#home .container .home-description h1 {
  font-size: 3.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#home .container .home-description p {
  color: #ddd;
  line-height: 1.6rem;
}
#home .container .home-description p a {
  text-decoration: underline;
  font-size: 1.4rem;
}

.sections {
  width: 100%;
  border-top: 2px #2F2F30 solid;
}
.sections p {
  color: #ddd;
  margin-top: 2rem;
}
.sections .container {
  padding-bottom: 5rem;
}
.sections .container .title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.sections .container .title h1 {
  font-size: 2.5rem;
  padding: 2rem 0 1rem 0;
  border-bottom: 1px #fff solid;
}
.sections .container .content {
  width: 80%;
  margin: auto;
}
.sections .container .content .description .image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.sections .container .content .description .image img {
  margin: 1rem 0 1rem 0;
  width: 65%;
}
.sections .container .content .description .construction {
  padding-top: 5rem;
}
.sections .container .content .description .construction img {
  width: 40%;
}
